button {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  border: none;
  background: linear-gradient(135deg, white, white);
  padding: 0;

  box-shadow: 3px 4px 5px rgba(46, 46, 46, 0.4);
  transition: box-shadow 0.1s ease-in;

  &.small {
    width: 63px;
    height: 63px;
  }

  &.big {
    width: 200px;
    height: 200px;
  }

  &:focus {
    outline: none;
  }

  &.clicked {
    box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.4);
    transition: box-shadow 0.4s ease-in;
  }
}

i.icon {
  display: inline-block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  &.icon-15-min {
    background-image: url('../icons/15.svg');
    background-position: center 4px;
  }

  &.icon-30-min {
    background-image: url('../icons/30.svg');
    background-position: center 4px;
  }

  &.icon-arrow-up {
    background-image: url('../icons/arrow-up.svg');
  }

  &.icon-arrow-left {
    background-image: url('../icons/arrow-left.svg');
  }

  &.icon-arrow-right {
    background-image: url('../icons/arrow-right.svg');
  }

  &.icon-cancel {
    background-image: url('../icons/cancel.svg');
    background-position: center center;
    color: red;
  }
}
