footer {
  position: absolute;
  bottom: 0;
  height: 95px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.footer {
  height: 65px;
  margin: 0 0 30px 0;
  padding: 21px 0 0 0;
  width: calc(100% - 40px);
  border-top: 1px solid $primary-color;
  box-sizing: border-box;
  background-color: white;
  z-index: 10;

  text-align: center;

  font-family: 'Mark Pro Light';
  font-size: 1.375rem;

  cursor: pointer;

  a {
    height: 100%;
    width: 100%;
    display: inline-block;
    i.icon {
      position: relative;
      width: 30px;
      height: 30px;

      &.icon-arrow-right {
        top: 6px;
        margin-left: 15px;
      }

      &.icon-arrow-left {
        top: 6px;
        margin-right: 15px;
      }

    }
  }
}
