#app {
  height: 100vh;
  overflow: hidden;
}

.status-view {
  position: relative;
  top: 0;
  transition: top $transition-duration ease-in;

  &.expanded {
    top: -430px;
    transition: top $transition-duration ease-in;
  }

  .status-details {
    height: 410px;
    padding: 40px;
    background-color: $primary-color;
    text-align: center;
    color: white;

    h1 {
      margin-top: 30px;
    }

    .action-buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      &.multiple {
        button:last-child {
          margin-left: 40px;
        }
      }
    }
  }

  &.booked {
    .status-details {
      background-color: $black;

      h1 {
        margin-top: 40px;
      }
    }
  }

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .fade-leave.fade-leave-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
