@import 'fonts';

// Colors
$blue: #17BFC5;
$white: #FFF;
$black: #2E2E2E;
$red: #F60755;

// Settings
$primary-color: $blue;

// Fonts
$mark-pro-regular: 'Mark Pro';

// Colors

// Settings
$primary-color: $blue;
$font-color: $black;

// Fonts
$mark-pro-regular: 'Mark Pro';

$transition-duration: 0.4s;

* {
  cursor: none;
}

body {
  font-family: $mark-pro-regular;
  font-size: 16px;
  color: $black;
  background-color: $white;
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: 'Mark Pro Medium';
  font-size: 5rem;
}

h3 {
  font-family: 'Mark Pro Light';
  font-size: 1.875rem;
  margin: 0 0 28px 0;
}

a {
  text-decoration: none;
  color: $primary-color;
}

.hidden {
  visibility: hidden;
}
