@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/MarkPro.otf');
}

@font-face {
  font-family: 'Mark Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/MarkPro-Bold.otf');
}
