@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/MarkPro.otf');
}

@font-face {
  font-family: 'Mark Pro Bold';
  src: url('../fonts/MarkPro-Bold.otf');
}

@font-face {
  font-family: 'Mark Pro Medium';
  src: url('../fonts/MarkPro-Medium.otf');
}

@font-face {
  font-family: 'Mark Pro Book';
  src: url('../fonts/MarkPro-Book.otf');
}

@font-face {
  font-family: 'Mark Pro Light';
  src: url('../fonts/MarkPro-Light.otf');
}
