@import 'fonts';

// Colors
$blue: #4D898B;
$white: #FFF;

// Settings
$primary-color: $blue;

// Fonts
$mark-pro-regular: 'Mark Pro';


body {
  font-family: $mark-pro-regular;
  background-color: $blue;
}
